
/*
	Colours!

	All the colours used across the site
*/

$background-colour: #F0F0F0;

$shadow-colour: #DDD;

$light-grey: #BBB;

$bright-purple: #6755E3;

/* Pastel Colours */
$purple: #A095EE;
$green: #A6E3BB;
$orange: #F2D383;
$red: #FF7878;
$blue: #A7D1E8;
$yellow: #EAF173;

/* Text Colours */

$title-text-colour: #222;
$title-text-shadow: $shadow-colour;

$embed-shadow-colour: #EEE;

$text-backgound-highlight-colour: $purple;
$text-highlight-colour: $background-colour;

::-moz-selection {
    background-color: $text-backgound-highlight-colour;
    color: $text-highlight-colour;
    text-shadow: none;
}

::selection {
    background-color: $text-backgound-highlight-colour;
    color: $text-highlight-colour;
    text-shadow: none;
}