
/* Main Sass file
   Used for general layouts
*/

@import 'mixins';
@import 'color';
@import 'typography';
@import 'icons';

body {
    background-color: $background-colour;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

.header {
    margin-bottom: 20px;
}

.header-text {
    padding-left: 20px;
    float: left;
}

.profile-pic {
    width: 120px;
    height: 120px;
    float: left;
    position: relative;
}

.round-img {    
    @include circle-borders;
    box-shadow: 0 0 10px $purple;
}

.fade-in {  
    position: absolute;
    @include opacity(0);
    @include transition(all, 1s, ease-in-out);
}

.fade-in:hover {
    @include opacity(1);
    box-shadow: 0 0 10px $bright-purple;
}

.tile-group {
    margin-left: 15%;
    max-width: 1000px;
    clear: both;
}

.tile {
    @include rounded-corners(3px);

    width: 240px;
    height: 240px;

    float: left;

    margin-right: 40px;
    margin-bottom: 40px;

    text-align: center;

    position: relative;

    @include transition(all, 0.5s, ease-in-out);

    &.inverted {
        background-color: $title-text-colour;
    }
}

.overlay-text {    
    position: absolute;
    bottom: 60px;
    width: 240px;    
}

.purple {
    background-color: $purple;
}

.green {
    background-color: $green;
}

.orange {
    background-color: $orange;
}

.red {
    background-color: $red;
}

.blue {
    background-color: $blue;
}

.yellow {
    background-color: $yellow;
}