
/* Main Sass file
   Used for general layouts
*/

@import 'mixins';
@import 'color';
@import 'typography';

body {    
    padding-top: 1%;
    padding-bottom: 3%;
    background-color: white;
}

.header {
    overflow: hidden;
    width: 64%;
    max-width: 720px;
    min-width: 240px;
    margin: auto;
    clear: both;
    padding-bottom: 20px;
}

.title-break {
    display: inline-block;
}

.header-text {
    min-width: 240px;
    float: left;
}

.profile-pic {
    width: 120px;
    height: 120px;
    float: left;
    position: relative;
}

.fade-in {  
    position: absolute;
    @include opacity(0);
    @include transition(all, 1s, ease-in-out);
}

.fade-in:hover {
    @include opacity(1);
    box-shadow: 0 0 20px $red;
}

.tile-group {    
    max-width: 720px;
    clear: both;
    min-width: 240px;
    margin: auto;
    width: 64%;
}

.tile {
    width: 240px;
    height: 240px;

    float: left;

    text-align: center;
    
    position: relative; 
    z-index: -1;  

    @include transition(all, 0.5s, ease-in-out);

    &.inverted {
        background-color: $light-grey;
    }
}

.popout {
    z-index: -1;
    position: absolute;
    top: 20px;
    background-color: $title-text-shadow;
    height: 200px;
    width: 140px;
    margin-left: 100px;
    @include rounded-corners(5px);
    @include transition(all, 0.5s, ease-in-out);
}

.info {
    padding-top: 60px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

.info-tagline {
    padding-top: 8px;
    padding-bottom: 12px;
}

.inverted .popout {
    margin-left: 240px;
}

.tile-img-fade-in {  
    position: absolute;
    @include opacity(0);
    @include transition(all, 0.5s, ease-in-out);
}

.inverted .tile-img-fade-in {
    @include opacity(1);    
}

.tile-img-fade-out {      
    @include opacity(1);
    @include transition(all, 0.5s, ease-in-out);
}

.inverted .tile-img-fade-out {
    @include opacity(0);    
}

.overlay-text {    
    position: absolute;
    bottom: 60px;
    width: 240px;    
}

.purple {
    background-color: $purple;
}

.green {
    background-color: $green;
}

.orange {
    background-color: $orange;
}

.red {
    background-color: $red;
}

.blue {
    background-color: $blue;
}

.yellow {
    background-color: $yellow;
}

.plum {
    background-color: $plum;
}

.open-left {
    transition: all 1.5s;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.open-right {
    transition: all 1.5s;
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}

.open-down {
    transition: all 1.5s;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.open-up {
    transition: all 1.5s;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.perspective-root {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    float: left;
}

.perspective-root:hover .open-left {
    -webkit-transform: rotateY(-110deg);
    transform: rotateY(130deg);
    z-index: 3;
}

.perspective-root:hover .open-right {
    -webkit-transform: rotateY(110deg);
    transform: rotateY(130deg);
    z-index: 3;
}

.perspective-root:hover .open-down {
    -webkit-transform: rotateX(-110deg);
    transform: rotateX(130deg);
    z-index: 3;
}

.perspective-root:hover .open-up {
    -webkit-transform: rotateX(110deg);
    transform: rotateY(130deg);
    z-index: 3;
}

.hidden-text {
    width: 240px;
    height: 240px;
    position: absolute;
    z-index: -3;
    text-align: center;
    background-color: $shadow-colour;    
    box-shadow: inset 0px 0px 15px $title-text-colour;
}

@media (min-width: 1125px) {
    br {
        clear: left;
    }
}