
/* Main Sass file
   Used for general layouts
*/

@import 'color';
@import 'typography';
@import 'mixins';

body {
    background-color: $background-colour;
    padding: 3%;
}

.header {
    margin-bottom: 20px;
}

.header-text {
    padding-left: 20px;
    float: left;
}

.profile-pic {
    width: 120px;
    height: 120px;
    float: left;
    position: relative;
}

.round-img {    
    @include circle-borders;
    box-shadow: 0 0 10px $purple;
}

.fade-in {  
    position: absolute;
    @include opacity(0);
    @include transition(all, 1s, ease-in-out);    
}

.fade-in:hover {
    @include opacity(1);
    box-shadow: 0 0 10px $bright-purple;
}

.tile-group {
    margin-left: 15%;
    max-width: 1000px;
    clear: both;
}

.tile {
    @include rounded-corners(2px);

    width: 240px;
    height: 240px;

    background-color: $tile-background-colour;

    float: left;

    margin-right: 40px;
    margin-bottom: 40px;
}