/*
	Mixins!

	Used mainly for cross browser support stuff
*/

@mixin circle-borders {
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

@mixin rounded-corners($radius: 10px) {
	-webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}