
/* Typography!
	This file contains all the different fonts, styling and sizes needed
*/

a, a:link, a:hover, a:active, a:visited {
	text-decoration: none;
}

.massive-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 72px;
	text-transform: uppercase;

	color: $title-text-colour;	
}

.subtle-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: $title-text-colour;
	text-shadow: 1px 1px 0 $embed-shadow-colour;
}

.tile-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $background-colour;

	@include surround-shadow(1px, 1px, $title-text-colour);
	@include transition(all, 0.5s, ease-in-out);
}

.info-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: $title-text-colour;
	text-shadow: 1px 1px 0 $background-colour;
}

.info-tagline {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: $title-text-colour;
	text-shadow: 1px 1px 0 $background-colour;
}

.info-desc {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: $title-text-colour;
	text-shadow: 1px 1px 0 $background-colour;
}

.big-icon {
	font-size: 240px;
	color: $title-text-colour;
}

.tile .icon-facebook {
	line-height: 260px;
}

.tile .icon-envelope-alt {
	font-size: 200px;
	line-height: 230px;
}
